<div class="flex flex-col h-[75vh]">
  <!-- Header -->
  <header class="absolute top-0 left-0 p-4 z-10">
    <!-- Back Button -->
    <button
      (click)="goBack()"
      class="px-4 py-2 text-3xl sm:text-4xl md:text-5xl font-bold text-gray-300 hover:text-gray-500"
    >
      &#8592;
    </button>
  </header>

  <!-- Main Content -->
  <div
    class="flex flex-col flex-grow items-center justify-start overflow-y-auto p-8"
  >
    <main class="max-w-3xl w-full">
      <!-- Introduction -->
      <h1 class="text-4xl font-bold text-gray-200 mb-4 text-center">
        Welcome to My Portfolio!
      </h1>

      <p class="text-gray-300 leading-relaxed mb-8 text-center">
        I’m <strong>Manoj Dilip Marmat</strong>, a passionate and results-driven
        <span class="text-blue-500 font-semibold"
          >.NET Full-Stack Developer</span
        >
        with over <strong>1.7 years +</strong> of hands-on experience in
        designing and developing scalable ERP applications and dynamic web
        solutions. My expertise spans across modern technologies such as
        <span class="text-blue-500">.NET Core</span>,
        <span class="text-blue-500">ASP.NET MVC</span>,
        <span class="text-blue-500">C#</span>,
        <span class="text-blue-500">JavaScript</span>, and
        <span class="text-blue-500">TypeScript</span>.
      </p>

      <!-- Who Am I -->
      <section class="mb-12">
        <h2 class="text-3xl font-semibold text-gray-200 mb-4">Who Am I?</h2>
        <p class="text-gray-300 leading-relaxed">
          I'm a problem solver, a continuous learner, and a technology
          enthusiast. I'm based in India and graduated with a Bachelor's degree
          in Computer Science & Engineering from
          <span class="font-semibold">Sant Gadge Baba Amravati University</span>
          with a GPA of 8.5.
        </p>
      </section>

      <!-- What I’ve Done -->
      <section class="mb-12">
        <h2 class="text-3xl font-semibold text-gray-200 mb-4">
          What I’ve Done
        </h2>
        <p class="text-gray-300 leading-relaxed">
          Over the years, I’ve worked on multiple projects that span across
          different domains, including building scalable APIs, designing
          e-commerce platforms, and automating business processes. I’ve also
          contributed to open-source projects like
          <span class="font-semibold text-blue-500">Hacktoberfest 2022</span>,
          where I earned a badge for my contributions to the community.
        </p>
      </section>

      <!-- My Goal -->
      <section class="mb-12">
        <h2 class="text-3xl font-semibold text-gray-200 mb-4">My Goal</h2>
        <p class="text-gray-300 leading-relaxed">
          My goal is to continue improving as a Full-Stack Developer and
          contribute to meaningful, scalable software. I aspire to work on
          larger projects, collaborate with talented teams, and leverage my
          skills to build innovative solutions.
        </p>
      </section>

      <!-- What’s Next -->
      <section>
        <h2 class="text-3xl font-semibold text-gray-200 mb-4">What’s Next?</h2>
        <p class="text-gray-300 leading-relaxed mb-6">
          I am eager to explore new opportunities that allow me to tackle
          challenging problems, work with the latest technologies, and make a
          positive impact in the tech world.
        </p>
      </section>

      <p class="text-gray-300 leading-relaxed text-center">
        Let’s connect and explore how my expertise can contribute to building
        innovative and scalable solutions.
      </p>
    </main>
    <footer class="absolute bottom-0 right-0 p-4">
      <a
        href="https://wa.me/+917083955439"
        class="text-sm text-blue-600 font-semibold hover:text-gray-700 underline"
        target="_blank"
      >
        <svg
          width="30px"
          height="30px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="animate-pulse drop-shadow-[0_0_10px_rgba(37,211,102,0.9)]"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M6.014 8.00613C6.12827 7.1024 7.30277 5.87414 8.23488 6.01043L8.23339 6.00894C9.14051 6.18132 9.85859 7.74261 10.2635 8.44465C10.5504 8.95402 10.3641 9.4701 10.0965 9.68787C9.7355 9.97883 9.17099 10.3803 9.28943 10.7834C9.5 11.5 12 14 13.2296 14.7107C13.695 14.9797 14.0325 14.2702 14.3207 13.9067C14.5301 13.6271 15.0466 13.46 15.5548 13.736C16.3138 14.178 17.0288 14.6917 17.69 15.27C18.0202 15.546 18.0977 15.9539 17.8689 16.385C17.4659 17.1443 16.3003 18.1456 15.4542 17.9421C13.9764 17.5868 8 15.27 6.08033 8.55801C5.97237 8.24048 5.99955 8.12044 6.014 8.00613Z"
              fill="#25D366"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 23C10.7764 23 10.0994 22.8687 9 22.5L6.89443 23.5528C5.56462 24.2177 4 23.2507 4 21.7639V19.5C1.84655 17.492 1 15.1767 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23ZM6 18.6303L5.36395 18.0372C3.69087 16.4772 3 14.7331 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C11.0143 21 10.552 20.911 9.63595 20.6038L8.84847 20.3397L6 21.7639V18.6303Z"
              fill="#25D366"
            ></path>
          </g>
        </svg>
      </a>
    </footer>
  </div>
</div>
