<div class="flex flex-col h-screen">
  <!-- Header -->
  <header class="absolute top-0 left-0 p-4 z-10">
    <!-- back-button.component.html -->
    <button
      (click)="goBack()"
      class="px-4 py-2 text-5xl font-bold text-gray-300 hover:text-gray-500"
    >
      &#8592;
    </button>
  </header>

  <!-- Main Content -->
  <div
    class="flex flex-col flex-grow items-center justify-start overflow-y-auto p-8 pt-16"
  >
    <main class="max-w-3xl w-full text-center">
      <h1 class="text-4xl font-bold text-gray-200 mb-4">
        Welcome to My Portfolio!
      </h1>
      <p class="text-gray-300 leading-relaxed mb-6">
        I’m <strong>Manoj Dilip Marmat</strong>, a passionate and results-driven
        <span class="text-blue-500 font-semibold"
          >.NET Full-Stack Developer</span
        >
        with over <strong>1.7 years +</strong> of hands-on experience in
        designing and developing scalable ERP applications and dynamic web
        solutions. My expertise spans across modern technologies such as
        <span class="text-blue-500">.NET Core</span>,
        <span class="text-blue-500">ASP.NET MVC</span>,
        <span class="text-blue-500">C#</span>,
        <span class="text-blue-500">JavaScript</span>, and
        <span class="text-blue-500">TypeScript</span>.
      </p>
      <p class="text-gray-300 leading-relaxed mb-6">
        My ability to deliver robust, maintainable solutions is complemented by
        my understanding of
        <strong>Agile methodologies</strong> and a comprehensive grasp of the
        <span class="text-blue-500">Software Development Life Cycle (SDLC)</span
        >.
      </p>

      <p class="text-gray-300 leading-relaxed mb-6">
        My commitment to continuous improvement is demonstrated by my
        participation in open-source contributions like
        <span class="font-semibold text-blue-500">Hacktoberfest 2022</span>,
        where I earned a badge for contributing to the community. I’ve also
        pursued professional growth through certifications and by engaging with
        cutting-edge technologies.
      </p>
      <p class="text-gray-300 leading-relaxed">
        Let’s connect and explore how my expertise can contribute to building
        innovative and scalable solutions.
      </p>
    </main>
  </div>
</div>
