<div class="min-h-screen flex flex-col">
  <!-- Main Content -->
  <div class="flex-grow flex items-center justify-center">
    <div
      class="[background:linear-gradient(45deg,#172033,theme(colors.slate.800)_50%,#172033)_padding-box,conic-gradient(from_var(--border-angle),theme(colors.slate.600/0)_80%,_theme(colors.indigo.500)_86%,_theme(colors.indigo.300)_90%,_theme(colors.indigo.500)_94%,_theme(colors.slate.600/0))_border-box] rounded-2xl border border-transparent animate-border"
    >
      <div class="glass-effect-container w-[90vw] h-[85vh] sm:h-[70vh]">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="text-white text-center py-4">
    <p>&copy; 2025 Manoj Marmat. All Rights Reserved.</p>
  </footer>
</div>
