<div class="flex flex-col h-[85vh]">
  <!-- Header -->
  <header class="absolute top-0 left-0 p-4">
    <span class="relative">
      <span
        class="block absolute -inset-1 -skew-y-3 bg-gray-500"
        aria-hidden="true"
      ></span>
      <span class="relative text-black font-bold text-xl p-3"
        >Manoj Marmat</span
      >
    </span>
  </header>

  <main class="flex-grow flex items-center justify-center">
    <!-- Main Content -->
    <div class="flex flex-col items-center">
      <!-- Profile Photo -->
      <img
        src="assets/profile.jpg"
        alt="Profile Photo"
        class="w-32 h-32 rounded-full shadow-inner mb-5 border-2 border-indigo-200"
      />

      <!-- Buttons -->
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4"
      >
        <button
          *ngFor="let route of cRoutes"
          [routerLink]="route.link"
          class="px-4 py-2 shadow-inner border-y font-semibold shadow-black/50 text-white rounded-md hover:bg-gray-300 hover:text-black text-sm sm:text-base md:px-8 md:py-4"
        >
          {{ route.text }}
        </button>
      </div>
      <div class="flex flex-col items-center mt-6">
        <button
          class="download-btn flex items-center shadow-inner shadow-black/50 space-x-2 py-2 px-4 bg-gray-400 text-black font-bold rounded-lg border-2 border-transparent hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50"
        >
          <svg
            width="30px"
            height="30px"
            viewBox="0 0 19.00 19.00"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#000000"
            class="animate-bounce"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="#000000"
              stroke-width="0.8160000000000001"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="Interface / Download">
                <path
                  id="Vector"
                  d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12"
                  stroke="#000000"
                  stroke-width="2.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </g>
          </svg>
          <span class="text-xl">Download CV</span>
        </button>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="absolute bottom-0 right-0 p-4">
    <a
      data-tooltip-target="tooltip-animation"
      href="mailto:manojrajput762000@gmail.com"
      class="text-sm text-blue-600 font-semibold hover:text-gray-700 underline"
    >
      <svg
        width="30px"
        height="30px"
        viewBox="-0.5 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="#007ef5"
        class="animate-pulse drop-shadow-[0_0_10px_rgba(0,126,245,0.9)]"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M9.00977 21.39H19.0098C20.0706 21.39 21.0881 20.9685 21.8382 20.2184C22.5883 19.4682 23.0098 18.4509 23.0098 17.39V7.39001C23.0098 6.32915 22.5883 5.31167 21.8382 4.56152C21.0881 3.81138 20.0706 3.39001 19.0098 3.39001H7.00977C5.9489 3.39001 4.93148 3.81138 4.18134 4.56152C3.43119 5.31167 3.00977 6.32915 3.00977 7.39001V12.39"
            stroke="#0074f0"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M1.00977 18.39H11.0098"
            stroke="#0074f0"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M1.00977 15.39H5.00977"
            stroke="#0074f0"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M22.209 5.41992C16.599 16.0599 9.39906 16.0499 3.78906 5.41992"
            stroke="#0074f0"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </g>
      </svg>
    </a>
  </footer>
</div>
